/* ===============
	BLOCKQUOTE
=============== */

blockquote {
  padding-left: $base-spacing-unit;
  border-left: 3px solid $primary-color;
  font-family:  'Nanum Gothic', 'Volkhov', 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 14px;
  background-color: rgba(225, 225, 225, 0.3);
  p {
    padding: 10px;
  }
}
