/* ===============
	CODE
=============== */

code {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  font-family: Noto Sans KR, monospace , Courier,;
  font-size: 14px;
  background-color: #C8C8C8; 
}

p code,
li code {
  padding: 3px 5px;
}
